# Dependency directories
node_modules/

# Built code
build/

# Environment variables, access tokens, other runtime data
config/server.json

# ipython Notebook metadata
data/notebooks/.ipynb_checkpoints

#server stuff
server/node_modules
server/.serverless
server/package-lock.json
